{% extends 'layout.html' %}
{% block content %}
<div class="my-5"></div>
<h1>Login works</h1>
<form method="POST" action="/update?id={{task['_id']}}"> <!--usando los nombres del arreglo task y no tasks-->
  <div class="form-group">
    <label for="exampleInputEmail1">Task Name</label>
    <input type="text" value="{{task['task']}}" class="form-control" name="task" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter task">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="text" value="{{task['date']}}" name="date" class="form-control" id="exampleInputPassword1" placeholder="Enter date">
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
{% endblock %}