{% extends 'layout.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{task['_id']}}</td> <!--usando los nombres del arreglo-->
      <td>{{task['task']}}</td>
      <td>{{task['date']}}</td>
      <td>
        <div class="row">
          <div class="col-6">
            <a href="/edit?id={{task['_id']}}" class="btn btn-primary">Edit</a>
          </div><!--usando el nombre _id que viene mongo-->
          <div class="col-6">
            <a href="/delete?id={{task['_id']}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}